body
{
	/*disable callout
	this also disables selection*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.button {
  display: inline-block;
  font-family: Arial;
  color: #333;
  background-color: #eee;
  border-bottom: 2px solid #444;
  padding: 0.5em 1em;
  margin: 0.3em 0.2em;
  font-size: 1em;
  
  /*add some animation*/
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.button:hover{
  color: #fff;
  background-color: #888;
}

.button:active{
  background-color: #444;
}

.container
{
	position: absolute;
	top: 50%;
}