body
{
  background-color: #21252b;
  color: #56b6c2;
  font-family: sans-serif;
  overflow: hidden;
}

button {
  color: #fff;
  background-color: #27425c;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px #0c1825;
  padding: 0.4em 1em;
  margin: 3px 0px;
}

.connection
{

}

.connection > div
{
  display: inline;
}

.connection > .hidden
{
  display: none;
}

.status
{
  display: flex;
  justify-content:space-between;
}

.connectionInfo
{
  flex: 1;
  font-size: 12px;
  color: #848993;
  align-self: center;
}

.connectionButton
{
  flex: 1 1 auto;
  display: none;
  margin-right: 1em;
}

.connectionStatus
{
  color: #abb2bf;
  font-size: 12px;
  align-self: center;
  margin-right: 1em;
}

.connectionBox
{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  appearance: none;
  box-shadow: none;
  border: none;
  align-self: center;
  margin-right: 5px;
}

.green
{
  background-color: #66ff66;
}

.red
{
  background-color: #cc3333;
}

.data
{
  display: none;
}

input[type="text"]:focus {
  outline: none;
}

.error
{
  background-color: #ff0000;
  color: #ffffff;
  position: absolute;
  padding: 1em;
  width: 300px;
  font-size: 12px;
  width: 100%;
  height: 3em;
}

.connecting
{
  background-color: rgba(10, 10, 10, 0.3);
  color: #ffffff;
  position: absolute;
  padding: 1em;
  /*width: 300px;*/
  font-size: 30px;
  width: 100%;*/
  height: 1em;
}

.connecting:empty
{
  display:none;
}

.error:empty
{
  display:none;
}


.buddyList
{
  font-family: Arial;
}

.container
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.header
{
  flex: none;
}

.header label
{
  font-size: 12px;
  width: 6em;
  display: inline-block;
}

.header input[type="text"]
{
  width: 30%;
}

input
{
  border-radius: 5px;
  appearance: none;
  box-shadow: none;
  border: none;
  padding: 4px;
  margin: 4px;

  font-size: 12px;
  margin-right: 1em;
  color: #888888;
  background-color: #161616;
}

.header input::-webkit-input-placeholder
{
  color: #444444;
}

.main
{
  flex: 1 1 auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.sendForm
{
  height: 50px;
  flex: none;
}

.messages
{
  background-color: #282c34;
  flex: 3;
  overflow-y: auto;
  min-height: 0px;
  border: 1px solid #181a1f;
}

.messages>div:nth-child(2n) {
  background-color: #1e232c;
}

.buddyList
{
  flex: 1;
  overflow-y: auto;
  min-height: 0px;
  line-height: 1.6em;
  font-size: 11px;
  padding-left: 10px;
  color: #abb2bf;
  flex-shrink: 1;
  align-self: flex-start;
}

.darkContainer
{
  background-color: #171c25;
  margin-bottom: 10px;
}

.buddyList > h3
{
  font-size: 15px;
  margin: 0.1em 0em 0.5em;
}

.users
{
  color: #cb7e43;
  max-height: 230px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.info
{
  font-size: 11px;
  color: #848993;
}

.buddyList > a
{
  color: #aaaaaa;
}

.message
{
  padding: 5px 10px;
  flex-shrink: 0;
  color: #abb2bf;
}

.user
{
  color: #cb7e43;
  /*font-weight: bold;*/
  font-size: 12px;
}

.text
{
  color: #abb2bf;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4em;
  padding-top: 0.2em;
  /*flex: 4;*/
}

.sendForm
{
  display: flex;
}

.sendForm form
{
  flex: 3;
}

.sendForm form input[type="text"]
{
  color: #aaaaaa;
  padding: 7px;
  width: 70%;
}

.sendForm .rightSpace
{
  flex:1;
}
