/*NOTE

Even though possible, do not change the size of fonts here!
This will result in undefined looks.

*/

/*elements*/
.patch { fill:#141414; } /*#121212; #2B2B2B ; #212121*/
.patch-paused { fill: #1f1f1f; }
.selection { fill: #262626; fill-opacity: 0.3; }  /*#3B3B3B ; #515151 */

.node { fill: #3E3E42; }  /* #444 ; #4c4c4c ; */
.node-selected { fill:#777;  }
.pinbar { fill: #4f4f54; } /*#A9A9A9*/
 
.region { fill: #444; fill-opacity: 0.35; mix-blend-mode:screen; }
.region-outline{ fill: #010101; fill-opacity: 0; stroke: #2e2e2e; stroke-width:3; }
.region-selected { fill: #ccc; stroke:#222; stroke-width:1; fill-opacity: 0.1; }

.frame { fill: #232324; fill-opacity: 1; stroke: #454545; stroke-width:5; }
.frame-selected { fill: #373739; fill-opacity: 1; stroke: #787878; stroke-width:5; }
.frame-label{ fill: #787878; fill-opacity: 1; }
.frame-label-selected { fill: #787878; fill-opacity: 1; }

.operation { fill-opacity: 0; stroke: #171717; stroke-width:5; }

.datahub { fill: #666; stroke: #aaaaaa; }
.datahub-label { fill:#222222; fill-opacity: 0; }
.datahub-label-hovered{ stroke: #333; fill-opacity: 0; stroke-width: 1.5;}
.datahub-label-selected { fill:  #333; }
.crosspad { fill:#666 ; stroke: #333; stroke-width: 7; }
.typeannotation { fill: #ccc; stroke: #ccc; }

.constant { fill: #333;  stroke-width:0.1; stroke: #555; stroke-opacity: 0.4; display:block; padding:5; }
.constant-selected { fill: #555; stroke: #fff; stroke-opacity: 0.4; stroke-width:0;}
.constant-fg { fill: #777;}
.constant-fg-off { fill-opacity: 0; stroke: #222; stroke-width: 1;}

.canvas-label { stroke: #afafaf; fill: #d8d8d8; stroke-width: 2; } /* #222,#1c1c1c */
.canvas-label-selected { stroke: #afafaf; fill: #d8d8d8; stroke-width: 1; } /* #1c1c1c,#222 */

.border { stroke: #666; stroke-width: 2; fill-opacity: 0; }
.border-selected { stroke: #0f0f0f; stroke-width: 2; fill-opacity: 0; }

.definition { fill: #222; }
.definition-selected { fill: #777; }
.definition-class { fill: #3388CC; fill-opacity: 1; stroke: #3388CC; stroke-opacity: 0; stroke-width: 1; }
.definition-record { fill: #279966; fill-opacity: 1; stroke: #279966; stroke-opacity: 0; stroke-width: 1; }
.definition-operation { fill: #333; }
.definition-operation-selected { fill: #9A9A9A; fill-opacity:0.8;}

.comment { fill: #2B2B2B; fill-opacity: 0.1; stroke-opacity: 0; }
.comment-hovered { fill: #2B2B2B; stroke: #C0C0C0; fill-opacity: 0; stroke-width: 1.5; }
.comment-selected { fill: #E6E6E6; fill-opacity: 0; stroke: #fff; stroke-opacity: 0.1; }

.menu-background { fill: #2D2D30; }
.menu-background-selected { fill: #4f4f54; }

.explorer { fill: #2D2D30; } /*#333*/
.explorer-background { fill: #141414; }
.inspektor { fill: #353535; fill-opacity:0.1; }

.finder { fill: #444; }
.finder-sizer { fill: #696969; }
.finder-selection { fill: #222; }
.finder-font1 { font-family: Lucida Sans Unicode; font-size: 9;
			stroke: #F1F1F1; fill: #F1F1F1; stroke-width: 1; }
.finder-font2 { font-family: Lucida Sans Unicode; font-size: 9;
			fill: #808080; stroke-width: 1; }

.finder-result { fill: #75752F; stroke:#FFA41F; stroke-width:2;}
.finder-results { fill: #75752F;  fill-opacity:0.8}

.transparent { fill: #E6E6E6; fill-opacity: 0; stroke-opacity: 0; }

/* operations */
.Create { fill: #FFFFFF; fill-opacity: 1; stroke: #FFFFFF; stroke-opacity: 0; stroke-width: 1; }
.CreateDefault { fill: #CCFFCC; fill-opacity: 1; stroke: #CCFFCC; stroke-opacity: 0; stroke-width: 1; }
.Update { fill: #707070; fill-opacity: 1; stroke: #707070; stroke-opacity: 0; stroke-width: 1; }
.Dispose { fill: #600404; fill-opacity: 1; stroke: #600404; stroke-opacity: 0; stroke-width: 1; }
.operation0 { fill: #588CE4; fill-opacity: 1; stroke: #588CE4; stroke-opacity: 0; stroke-width: 1; }
.operation1 { fill: #70AD83; fill-opacity: 1; stroke: #70AD83; stroke-opacity: 0; stroke-width: 1; }
.operation2 { fill: #C36390; fill-opacity: 1; stroke: #C36390; stroke-opacity: 0; stroke-width: 1; }
.operation3 { fill: #466796; fill-opacity: 1; stroke: #466796; stroke-opacity: 0; stroke-width: 1; }
.operation4 { fill: #069900; fill-opacity: 1; stroke: #069900; stroke-opacity: 0; stroke-width: 1; }
.operation5 { fill: #BE865B; fill-opacity: 1; stroke: #BE865B; stroke-opacity: 0; stroke-width: 1; }
.operation6 { fill: #5AAAB8; fill-opacity: 1; stroke: #5AAAB8; stroke-opacity: 0; stroke-width: 1; }
.operation7 { fill: #31D050; fill-opacity: 1; stroke: #31D050; stroke-opacity: 0; stroke-width: 1; }
.operation8 { fill: #9C64B0; fill-opacity: 1; stroke: #9C64B0; stroke-opacity: 0; stroke-width: 1; }
.operation9 { fill: #444CBC; fill-opacity: 1; stroke: #444CBC; stroke-opacity: 0; stroke-width: 1; }
.link { stroke-opacity: 1; }
.light { fill-opacity: 0.5; }
.light-stroke { stroke-opacity: 0.5; }
.outlined { stroke-opacity: 0.5; fill-opacity: 0; stroke-width: 5; }

/*fonts*/
.tab-font-selected { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #F1F1F1; stroke-width: 1; }
.tab-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #9d9d9d; stroke-width: 1; }
.node-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #F1F1F1; stroke-width: 1; } /*e6e6e6*/
.type-font { font-family: Lucida Sans Unicode; font-size: 5.5;
			stroke: #F1F1F1; stroke-opacity: 0.6; stroke-width: 1; }
.region-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #F1F1F1; stroke-width: 1; }
.datahub-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke:#a0a0a0; stroke-width: 1; }
.tooltip-font { font-family: Lucida Sans Unicode; font-size: 8;
			stroke: #aaa; stroke-width: 1; }
.canvas-label-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke:#aaa; stroke-width: 1; }
.definition-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke: #F1F1F1; stroke-width: 1; }
.explorer-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke: #F1F1F1; stroke-width: 1; }
.signature-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke:#F1F1F1; stroke-width: 1; }
.constant-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke:#F1F1F1; stroke-width: 1; }
.comment-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #999999; stroke-width: 1; font-style: italic; }
.frame-font { font-family: Segoe UI SemiLight; font-size: 16;
			stroke: #a6a6a6; stroke-width: 1; }
.frameicons-font { font-family: Lucida Sans Unicode; font-size: 10;
			stroke: #F1F1F1; stroke-opacity: 0.5; stroke-width: 1; }
.frame-font-small { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #F1F1F1; stroke-width: 1; }


/*options
.error - makes stroke red #990000;
.warning - makes stroke orange #FFB200
.unused - make fill and stroke transparent
.inactive -
.generic - makes fill transparent=0, stroke=1
.accepted - make stroke green #00cc00
.force-accepted - make stroke orange
.committing - make stroke yellow  #FFFF00
*/
.error { stroke: #DB1B30; stroke-opacity: 1; }
.warning { stroke: #E88B1D; stroke-opacity: 1; }

.runtimeerror { stroke: #e600ac; stroke-opacity: 1; stroke-width: 2; }
.not-executed { fill: #000000; fill-opacity: 0.45 } 
.not-executed-link { stroke: #000000; stroke-opacity: 0.45; }

/* Deep the opacity as low as region background, otherwise unfocused regions will look darker than when focused. */
.unused { fill-opacity: 0.3; stroke-opacity: 0.3; }
.unfocused { fill-opacity: 0.3; stroke-opacity: 0.3; }
.generic { fill-opacity: 0; stroke-opacity: 1; }
.accepted { fill-opacity: 0.5; stroke: #92EC22; stroke-opacity: 1; stroke-width: 2; }
.force-accepted { stroke-opacity: 1; stroke-width: 2 }
.committing { fill-opacity: 0.5; stroke: #E3BE84; stroke-opacity: 1; stroke-width: 2; }

/*libraries*/
.renderer {	fill: #000; }
