/*NOTE

Even though possible, do not change the size of fonts here!
This will result in undefined looks.

*/

/*elements*/
.patch { fill: #E6E6E6; }
.patch-paused { fill: #E0E0E0; }
.selection { fill: #C0C0C0; fill-opacity: 0.3; }

.node { fill: #C0C0C0; }
.node-selected { fill: #9A9A9A; }
.pinbar { fill: #9A9A9A; }

.region { fill: #2B2B2B; fill-opacity: 0.047; }
.region-outline{ fill: #E6E6E6; fill-opacity: 0; stroke: #D0D0D0; stroke-width:5; }
.region-selected { fill: #C0C0C0; fill-opacity: 1; }

.frame { fill: #EFEFEF; fill-opacity: 1; stroke: #EFEFEF; stroke-width:5; }
.frame-selected { fill: #EFEFEF; fill-opacity: 1; stroke: #C0C0C0; stroke-width:5; }
.frame-label{ fill: #C0C0C0; fill-opacity: 1; }
.frame-label-selected { fill: #C0C0C0; fill-opacity: 1; }

.operation { fill-opacity: 0; stroke: #D0D0D0; stroke-width:5; }

.datahub { fill: #666666; stroke: #666666; }
.datahub-label { fill: #C0C0C0; fill-opacity: 0; }
.datahub-label-hovered{ stroke: #C0C0C0; fill-opacity: 0; stroke-width: 1.5;}
.datahub-label-selected { fill: #C0C0C0; }
.crosspad { fill: #666666; stroke: #E6E6E6; stroke-width: 7; }
.typeannotation { fill: #000000; stroke: #000000; }

.constant { fill: #C0C0C0; }
.constant-selected { fill: #9A9A9A; }
.constant-fg { fill: #808080;}
.constant-fg-off { fill-opacity: 0; stroke: #808080; stroke-width: 1;}

.canvas-label { stroke: #D0D0D0; fill: #E6E6E6; stroke-width: 2; }
.canvas-label-selected { stroke: #C0C0C0; fill: #D0D0D0; stroke-width: 2; }

.border { stroke: #D0D0D0; stroke-width: 2; fill-opacity: 0; }
.border-selected { stroke: #C0C0C0; stroke-width: 2; fill-opacity: 0; }
			   
.definition { fill: #D0D0D0; }
.definition-selected { fill: #C0C0C0; }
.definition-class { fill: #3388CC; fill-opacity: 1; stroke: #3388CC; stroke-opacity: 0; stroke-width: 1; }
.definition-record { fill: #279966; fill-opacity: 1; stroke: #279966; stroke-opacity: 0; stroke-width: 1; }
.definition-operation { fill: #D0D0D0; }
.definition-operation-selected { fill: #9A9A9A; }

.comment { fill: #E6E6E6; fill-opacity: 0; stroke-opacity: 0; }
.comment-hovered { fill: #E6E6E6; stroke: #C0C0C0; fill-opacity: 0; stroke-width: 1.5; }
.comment-selected { fill: #C0C0C0; fill-opacity: 0.5; }

.menu-background { fill: #FDFDFD; }
.menu-background-selected { fill: #D3D3D3; }

.explorer { fill: #D0D0D0; }
.explorer-background { fill: #E6E6E6; }
.inspektor { fill: #9A9A9A; }

/* icons */ 
.arrow { fill: #C0C0C0; }
.frameicons { fill: #000000; fill-opacity: 0.5; }
.grid { fill: #D0D0D0; }
			  
.finder { fill: #D3D3D3; }
.finder-sizer { fill: #696969; }
.finder-selection { fill: #A9A9A9; }
.finder-font1 { font-family: Lucida Sans Unicode; font-size: 9;
			stroke: #000000; stroke-width: 1; }
.finder-font2 { font-family: Lucida Sans Unicode; font-size: 9;
			fill: #808080; stroke-width: 1; }

.finder-result { fill: #FFFF00; stroke: 000000; stroke-width:2;}
.finder-results { fill: #FFFF00; }

.connector { fill: #000000; }		
.transparent { fill: #E6E6E6; fill-opacity: 0; stroke-opacity: 0; }

/* operations */
.Create { fill: #FFFFFF; fill-opacity: 1; stroke: #FFFFFF; stroke-opacity: 0; stroke-width: 1; }
.CreateDefault { fill: #CCFFCC; fill-opacity: 1; stroke: #CCFFCC; stroke-opacity: 0; stroke-width: 1; }
.Update { fill: #707070; fill-opacity: 1; stroke: #707070; stroke-opacity: 0; stroke-width: 1; }
.Dispose { fill: #600404; fill-opacity: 1; stroke: #600404; stroke-opacity: 0; stroke-width: 1; }
.operation0 { fill: #588CE4; fill-opacity: 1; stroke: #588CE4; stroke-opacity: 0; stroke-width: 1; }
.operation1 { fill: #70AD83; fill-opacity: 1; stroke: #70AD83; stroke-opacity: 0; stroke-width: 1; }
.operation2 { fill: #C36390; fill-opacity: 1; stroke: #C36390; stroke-opacity: 0; stroke-width: 1; }
.operation3 { fill: #466796; fill-opacity: 1; stroke: #466796; stroke-opacity: 0; stroke-width: 1; }
.operation4 { fill: #069900; fill-opacity: 1; stroke: #069900; stroke-opacity: 0; stroke-width: 1; }
.operation5 { fill: #BE865B; fill-opacity: 1; stroke: #BE865B; stroke-opacity: 0; stroke-width: 1; }
.operation6 { fill: #5AAAB8; fill-opacity: 1; stroke: #5AAAB8; stroke-opacity: 0; stroke-width: 1; }
.operation7 { fill: #31D050; fill-opacity: 1; stroke: #31D050; stroke-opacity: 0; stroke-width: 1; }
.operation8 { fill: #9C64B0; fill-opacity: 1; stroke: #9C64B0; stroke-opacity: 0; stroke-width: 1; }
.operation9 { fill: #444CBC; fill-opacity: 1; stroke: #444CBC; stroke-opacity: 0; stroke-width: 1; }
.link { stroke-opacity: 1; }
.light { fill-opacity: 0.5; }
.light-stroke { stroke-opacity: 0.5; }
.outlined { stroke-opacity: 0.5; fill-opacity: 0; stroke-width: 5; }



/*fonts piccolo*/
/*
.node-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
.type-font { font-family: Lucida Sans Unicode; font-size: 5.5;
			fill: #000000; fill-opacity: 0.6; }
.region-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
.datahub-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
.tooltip-font { font-family: Lucida Sans Unicode; font-size: 8;
			stroke: #000000; }
.canvas-label-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke: #000000; }
.definition-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke: #000000; }
.explorer-font { font-family: Lucida Sans Unicode; font-size: 10;
			   stroke: #000000; }
.signature-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
.constant-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
.comment-font { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; stroke-width: 1; font-style: italic; }
.frame-font { font-family: Segoe UI SemiLight; font-size: 16;
			stroke: #555555; stroke-width: 1; }
.frameicons-font { font-family: Lucida Sans Unicode; font-size: 10;
			stroke: #000000; stroke-opacity: 0.5; }
.frame-font-small { font-family: Lucida Sans Unicode; font-size: 7;
			stroke: #000000; }
*/

/*fonts skia*/		
.tab-font-selected { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.tab-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #4f4f54; }
.node-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.type-font { font-family: Lucida Sans Unicode; font-size: 5.5;
			fill: #000000; fill-opacity: 0.5; }
.region-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.datahub-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.tooltip-font { font-family: Lucida Sans Unicode; font-size: 8;
			fill: #000000; }
.canvas-label-font { font-family: Lucida Sans Unicode; font-size: 10;
			   fill: #000000; }
.definition-font { font-family: Lucida Sans Unicode; font-size: 10;
			   fill: #000000; }
.explorer-font { font-family: Lucida Sans Unicode; font-size: 10;
			   fill: #000000; }
.signature-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.constant-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
.comment-font { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; font-style: italic; }
.frame-font { font-family: Segoe UI SemiLight; font-size: 16;
			fill: #555555; }
.frameicons-font { font-family: Lucida Sans Unicode; font-size: 10;
			fill: #000000; fill-opacity: 0.5; }
.frame-font-small { font-family: Lucida Sans Unicode; font-size: 7;
			fill: #000000; }
			
			
/*options 
.error - makes stroke red
.warning - makes stroke orange
.unused - make fill and stroke transparent
.inactive - 
.generic - makes fill transparent=0, stroke=1
.accepted - make stroke green
.force-accepted - make stroke orange
.committing - make stroke yellow
*/
.error { stroke: #FF0000; stroke-opacity: 1; }
.warning { stroke: #FFB200; stroke-opacity: 1; }

.runtimeerror { stroke: #e600ac; stroke-opacity: 1; stroke-width: 2; }
.not-executed { fill: #000000; fill-opacity: 0.45 } 
.not-executed-link { stroke: #000000; stroke-opacity: 0.45; }

/* Deep the opacity as low as region background, otherwise unfocused regions will look darker than when focused. */
.unused { fill-opacity: 0.3; stroke-opacity: 0.3; }
.unfocused { fill-opacity: 0.3; stroke-opacity: 0.3; }
.generic { fill-opacity: 0; stroke-opacity: 1; }
.accepted { fill-opacity: 0.5; stroke: #00FF00; stroke-opacity: 1; stroke-width: 2; }
.force-accepted { stroke-opacity: 1; stroke-width: 2 }
.committing { fill-opacity: 0.5; stroke: #FFFF00; stroke-opacity: 1; stroke-width: 2; }

/*libraries*/
.renderer {	fill: #000000; }