body
{
font-family: Verdana;
background-color: #1F354C;
color:#D3E8FF;
width: 97%;
height: 100%;
margin-right: 2em;
padding-right: 2em;
overflow-y: auto;
overflow-x: hidden;
-moz-hyphens: none;
-ms-hyphens: none;
-webkit-hyphens: none;
hyphens: none;
word-break:keep-all;
overflow-y: hidden;
font-size: 0.6em;
}

.container
{
	border-bottom: 1px solid #6E859B;
	display: flex;
  overflow-y: auto;
  overflow-x: none;
  align-items: stretch;
  flex-direction: row;
}

.container div:first-child
{
	border-left: none;
}

.container div:last-child
{
	border-right: none;
}

.containerNoScroll
{
	display: flex;
  border-bottom: 1px solid #6E859B;
}

a
{
  color: inherit;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:visited
{
  color: #8c9eb1;
}


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  border: 1px solid #6E859B;
}

.box > * {
  flex-shrink: 0;
}

.box div:last-child
{
  border-bottom: none;
}

.centerWrapper
{
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-right: 1px solid #6E859B;
}

.centerContent
{
  padding: 0.3em;
	font-size: 2.5em;
  display: flex;
	height: 1.6em;
}

.version
{
  color: #ffffff;
}

.architecture
{
  color: #D3E8FF;
}

.colored
{
	background-color: #3C5369;
  flex-grow: 0;
}

.alert
{
	color: #ffffff;
	background-color: #723841;
}

.desc
{
	text-transform: uppercase;
	font-size: 0.9em;
	color: #8c9eb1;
	border: none;
	padding: 0.8em 0em 0.6em 0em;
}

.clear
{
	clear: both;
}

.inline
{
	clear: both;
}

.fixSize
{
	border-right: 1px solid #6E859B;
	padding: 0em 1em 1em;
	width: 9em;
}

.short
{
	width: 7em;
}

.longLine
{
	padding: 0em 1em 1em;
	flex: 1 0;
  overflow-y: auto;
}

.header
{
  overflow: hidden;
}

.network
{
  height: 7em;
}

.graphics
{
  height: 6em;
}

.ports
{
  height: 5em;
}

.path
{
  border-right: 1px solid #6E859B;
  overflow-x: auto;
  float: left;
  flex-grow: 1;
}

.packs
{
  float: right;
  height: 6em;
  width: 18.1em;
  overflow-y: auto;
  overflow-x: hidden;
}

.commandline
{
  height: 4em;
  width: 55em;
}

.paths
{
  height: 5.1em;
  width: 55em;
}

.credits
{
		height: 16.8em;
		overflow-y: auto;
    text-align: center;
    padding: 0em 5em;
    flex: 1;
    overflow-x: hidden;
}

.graphiccard
{
  width: 35em;
  flex-grow: 1;
}

.last
{
	border: none;
}

.rightShort
{
  width: 9em;
  flex-shrink: 1;
}

.leftShort
{
	width: 9em;
}

.innerBox
{
	padding: 0px 1em 1em;
}

.borderLeft
{
  border-left: 1px solid #6E859B;
}

.OneThird
{
	padding: 0px 1em 1em;
	border: none;
	flex: 1;
	border-left: 1px solid #6E859B;
  overflow-y: auto;
}

.first
{
	border: none;
}
